<div class=" row" >
    <img [src]=imgpath [alt]="imgName" class="img">
   <div>
    <div style="padding-top:15px;padding-left: 300px;" class="dropdown">
      <button class="btn  dropdown-toggle button-style" type="button" data-toggle="dropdown">Shop By Category
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a class="icon" routerLink="/fnv">Fruits and Vegetables</a></li>
        <ul type="disc">
            <li><a class="icon" routerLink="/fruits">Fruits</a></li>
            <li><a class="icon" routerLink="/veg">Vegetables</a></li>
         </ul>
        <li class="divider"></li>
        <li><a class="icon" href="#">Frozen Foods</a></li>
        <ul type="disc">
            <li><a class="icon" href="#">Frozen Snacks</a></li>
            <li><a class="icon" href="#">Frozen Vegetables</a></li>
         </ul>
        <li class="divider"></li>
       
        <li><a class="icon" href="#">Bakery</a></li>
        <ul type="disc">
            <li><a class="icon" href="#">Cookies</a></li>
            <li><a class="icon" href="#">Cakes</a></li>
            <li><a class="icon" href="#">Biscuits, Khari & Rusks</a></li>

         </ul>
        <li class="divider"></li>

        <li><a class="icon" href="#">Dairy</a></li>
        <ul type="disc">
        <li><a class="icon" href="#">Milk</a></li>
        <li><a class="icon" href="#">Cheese</a></li>
        <li><a class="icon" href="#">Yogurt</a></li>
        <li><a class="icon" href="#">Ice-Cream</a></li>
      </ul>

        <li class="divider"></li>
      </ul>
    </div>
      <div   class="input-group mb-3 append" >
       <input type="text" class="form-control" placeholder="Search your Product" >
       <div class="input-group-append ">
         <span class=" text-success ">
             <button type="submit" class="btn btn-success">Search</button>
         </span>
         
       </div>
       </div>

       </div>
      
          <div class="container">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a style="color: green;font-size: 20px;" routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color: green;font-size: 20px;" href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color: green;font-size: 20px;" href="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color: green;font-size: 20px;" href="#">Offers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color: green;font-size: 20px;" href="#">FAQs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color: green;font-size: 20px;" href="#">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <hr/>
          </div>
     <div class="container">
          <table style="margin-left: 12px;" class="gfg" >

            <tr >
              <td class="bright" >
              
                <a href="#" style="text-decoration: none;color: darkslategrey;">
                
                   <ul type="none" style="border-collapse: separate" >
              <li><img src="../../assets/veg/1.jpg/"  class="images" ></li>
                    <li>Fresh Tomato</li>
                    <li>1Kg</li>
                      <li>&#8377;40</li>
                      <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>

              
                  </ul>
              </a>
              </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <td class="bright">
              
                <a href="#" style="text-decoration: none;color: darkslategrey;">
                
                   <ul type="none" style="border-collapse: separate" >
              <li><img src="../../assets/veg/2.jpg/" class="images" ></li>
                    <li>Fresh Tomato</li>
                    <li>1Kg</li>
                      <li>&#8377;40</li>
                      <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                  </ul>
              </a>
              </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <td class="bright">              
                <a href="#" style="text-decoration: none;color: darkslategrey;">
                
                   <ul type="none" style="border-collapse: separate" >
              <li><img src="../../assets/veg/3.jpg/"  class="images" ></li>
                    <li>Fresh Tomato</li>
                    <li>1Kg</li>
                      <li>&#8377;40</li>
                      <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                  </ul>
              </a>
              </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <td class="bright">              
                <a href="#" style="text-decoration: none;color: darkslategrey;">
                
                   <ul type="none" style="border-collapse: separate" >
              <li><img src="../../assets/veg/4.jpg/"  class="images" ></li>
                    <li>Fresh Tomato</li>
                    <li>1Kg</li>
                      <li>&#8377;40</li>
                      <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                  </ul>
              </a>
              </td>

              <tr  style="margin-top: 10px;">
                <td class="bright">                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/veg/5.jpg/"  class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td class="bright">                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/veg/6.jpg/" class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td class="bright">                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/veg/7.jpg/"  class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td class="bright">                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/veg/8.jpg/" class=images ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </tr>
               <tr >
                <td class="bright" >
                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/fru/bana.jpg"  class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
  
                
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td class="bright">
                
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/fru/watermelon.jpg" class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td class="bright">              
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/fru/straw.jpg"  class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <td class="bright">              
                  <a href="#" style="text-decoration: none;color: darkslategrey;">
                  
                     <ul type="none" style="border-collapse: separate" >
                <li><img src="../../assets/fru/pine.jpg"  class="images" ></li>
                      <li>Fresh Tomato</li>
                      <li>1Kg</li>
                        <li>&#8377;40</li>
                        <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                    </ul>
                </a>
                </td>
  
                <tr  style="margin-top: 10px;">
                  <td class="bright">                
                    <a href="#" style="text-decoration: none;color: darkslategrey;">
                    
                       <ul type="none" style="border-collapse: separate" >
                  <li><img src="../../assets/fru/orange.jpg"  class="images" ></li>
                        <li>Fresh Tomato</li>
                        <li>1Kg</li>
                          <li>&#8377;40</li>
                          <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                      </ul>
                  </a>
                  </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <td class="bright">                
                    <a href="#" style="text-decoration: none;color: darkslategrey;">
                    
                       <ul type="none" style="border-collapse: separate" >
                  <li><img src="../../assets/fru/mango.jpg" class="images" ></li>
                        <li>Fresh Tomato</li>
                        <li>1Kg</li>
                          <li>&#8377;40</li>
                          <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                      </ul>
                  </a>
                  </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <td class="bright">                
                    <a href="#" style="text-decoration: none;color: darkslategrey;">
                    
                       <ul type="none" style="border-collapse: separate" >
                  <li><img src="../../assets/fru/kiwi.jpg"  class="images" ></li>
                        <li>Fresh Tomato</li>
                        <li>1Kg</li>
                          <li>&#8377;40</li>
                          <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                      </ul>
                  </a>
                  </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <td class="bright">                
                    <a href="#" style="text-decoration: none;color: darkslategrey;">
                    
                       <ul type="none" style="border-collapse: separate" >
                  <li><img src="../../assets/fru/cherry.jpg" class=images ></li>
                        <li>Fresh Tomato</li>
                        <li>1Kg</li>
                          <li>&#8377;40</li>
                          <td><button class="btn btn-warning btn-sm bt" type="submit" >Add to Cart</button></td>
                      </ul>
                  </a>
                  </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </tr>
             </table>
             </div>
            
          
            
          

           
            
            