 <div class=" row" >
        <img [src]=imgpath [alt]="imgName" class="img">
       <div>
        <div style="padding-top:10px;padding-left: 300px;" class="dropdown">
          <button class="btn  dropdown-toggle button-style" type="button" data-toggle="dropdown">Shop By Category
          <span class="caret"></span></button>
          <ul class="dropdown-menu ">
            <li><a class="icon" routerLink="/fnv">Fruits and Vegetables</a></li>
            <li class="divider"></li>
            <li><a class="icon" href="#">Frozen Foods</a></li>
            <li class="divider"></li>
           
            <li><a class="icon" href="#">Bakery</a></li>
            <li class="divider"></li>
            <li><a class="icon" href="#">Dairy</a></li>
            <li class="divider"></li>
          </ul>
        </div>
          <div   class="input-group mb-3 append " >
           <input type="text" class="form-control" placeholder="Search your Product" >
           <div class="input-group-append ">
             <span class=" text-success ">
                 <button type="submit" class="btn btn-success">Search</button>
             </span>
             
           </div>
           </div>

           </div>

           <div class="cont " >
            <a routerLink="/login">Sign in&nbsp;&nbsp;</a></div>
              <div class="cont" >
                |
                <a routerLink="/signup">&nbsp;Sign up</a>
              </div>
              <br/>
              <div class="container cont">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a  routerLink="/">
               Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a  routerLink="/home/about">
                About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a  href="#">Offers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a  href="#">FAQs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#">Help</a>
             <hr/>
              </div>
                <br/>
                <br/>
              
    <div class="container">
           <div class="row">
             <div class="col-sm-12">
               <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                   <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                   <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                   <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                   <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                   <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
1
                 </ol>
                 <div class="carousel-inner">
                   <div class="carousel-item active">
                     <img src="../../assets/bake.jpg" class="d-block w-100 image" alt="n">
                     <div class="carousel-caption d-none d-md-block">
                      
                      <p style="font-size: 30px;color:whitesmoke;"><i>Life is to short to say no to Bakery</i></p>
                     </div>
                   </div>
                   <div class="carousel-item">
                     <img src="../../assets/f1.jpg" class="d-block w-100 image" alt="n">
                     <div class="carousel-caption d-none d-md-block">
                     
                      <p style="font-size: 30px;color:black;"><i>Vegetables are food of the earth but Fruits are taste of the heavens.</i></p>
                     </div>
                   </div>
                   <div class="carousel-item">
                     <img src="../../assets/d.jpg" class="d-block w-100 image" alt="n">
                     <div class="carousel-caption d-none d-md-block">
                      
                      <p style="font-size: 30px;color:black;"><i>Hardwork should be rewarded by Good Food</i></p>
                     </div>
                   </div>
                   <div class="carousel-item">
                    <img src="../../assets/dairy.jpg" class="d-block w-100 image" alt="n">
                    <div class="carousel-caption d-none d-md-block">
                    
                     <p style="font-size: 30px;color:black;"><i>Every day is fresh start.</i></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/ca2.jpg" class="d-block w-100 image" alt="n">
                    <div class="carousel-caption d-none d-md-block">
                    
                     <p style="font-size: 30px;color:aqua;"><i>Vegetables are food of the earth but Fruits are taste of the heavens.</i></p>
                    </div>
                  </div>
                 </div>
                 <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>
                </div>
                </div>  
           </div>
          </div>
</div>
<br/>
<div class="container " style="text-align: center ;font-size: 25px;color:green ;">
       <b> Fruits and Vegetables Corner</b>
</div>
<hr/>

<table class="container h" >
  <tr >
    <td rowspan="4" >
      <a routerLink="/fnv">
       
        <img src="../../assets/j.jpg" width="90%" height="350px"  style="border: 2px solid darkgray;border-radius: 5%;"  />
      </a></td>
    </tr>
    <tr >
      <td  class="spec " ><a href="#"><img src="../../assets/k.jpg" class="img1"  /></a></td>
      <td class="spec " ><a href="#"><img src="../../assets/dr.jpg" class="img1"  /></a></td>
      </tr>
      <tr>
        <td  class="spec " ><a href="#"><img src="../../assets/veg1.jpg "  class="img1" /></a></td>
  <td class="spec " ><a href="#"><img src="../../assets/veg2.jpg" class="img1"/></a></td>
        </tr>
</table>
<br/>
<div class="container"  style="text-align: center ;font-size: 25px;color:green ;">
 <b> Bakery, Cakes, Cookies</b>
</div>
<hr/>

<table class="container h" >
<tr >
<td rowspan="4">
<a href="">
 
  <img src="../../assets/b.jpg" width="90%" height="350px"  style="border: 2px solid red;border-radius: 5%;"/>
</a></td>
</tr>
<tr >
<td  class="spec " style="border: 2px solid red"  ><a href="#"><img src="../../assets/bread.jpg" class="img1" /></a></td>
<td class="spec "  style="border: 2px solid red"   ><a href="#"><img src="../../assets/cake.jpg" class="img1" /></a></td>
</tr>
<tr>
  <td  class="spec " style="border: 2px solid red"  ><a href="#"><img src="../../assets/cook.jpg " class="img1"/></a></td>
  <td class="spec " style="border: 2px solid red"  ><a href="#"><img src="../../assets/khari.jpg" class="img1"/></a></td>
  </tr>
</table>

<br/>
<div class="container"  style="text-align: center ;font-size: 25px;color:green ;">
 <b> Dairy</b>
</div>
<hr/>

<table class="container h" >
<tr >
<td rowspan="4" >
<a href="#">
 
  <img src="../../assets/da.jpg" width="90%" height="350px"  style="border: 5px solid orange;border-radius: 0%;"/>
</a></td>
</tr>
<tr >
<td  class="spec " style="border: 2px solid orange" ><a href="#"><img src="../../assets/milk.jpg"  class="img1"  /></a></td>
<td class="spec " style="border: 2px solid orange" ><a href="#"><img src="../../assets/che.jpg" class="img1"/></a></td>
</tr>
<tr>
  <td  class="spec " style="border: 2px solid orange"><a href="#"><img src="../../assets/yog.jpg " class="img1"/></a></td>
  <td class="spec " style="border: 2px solid orange"><a href="#"><img src="../../assets/ice.jpg" class="img1"/></a></td>
  </tr>
</table>


<br/>
<div class="container"  style="text-align: center ;font-size: 25px;color:green ;">
 <b> Frozen Foods</b>
</div>
<hr/>

<table class="container h" >
  <tr >
  <td rowspan="4" >
  <a href="#">
  <img src="../../assets/sn.jpg" width="90%" height="350px"  style="border: 5px solid orange;border-radius: 0%;"/>
</a></td>
</tr>
<tr >
<td  class="spec " style="border: 2px solid orange" ><a href="#"><img src="../../assets/fab.jpg"  class="img1"  /></a></td>
<td class="spec " style="border: 2px solid orange" ><a href="#"><img src="../../assets/snak.jpg" class="img1"/></a></td>
</tr>
<tr>
  <td  class="spec " style="border: 2px solid orange"><a href="#"><img src="../../assets/download.jpg " class="img1"/></a></td>
  <td class="spec " style="border: 2px solid orange"><a href="#"><img src="../../assets/bj.jpg" class="img1"/></a></td>
  </tr>

</table>




<div class="container" style="border:1px solid green">
  <h4 style="color:green">Eat Good Feel Good - Online Grocery Store</h4>
<p style="font-style: italic;">

  Eat good Feel good is a low-price online supermarket that allows you to order products across categories like grocery, vegetables, fruits,
 Dairy, Frozen foods, Bakery ,Cookies and Cakes and gets them delivered to your doorstep.<br/>
<br/>
We deliver to 25 cities across India and maintain excellent delivery times, ensuring that all your products from groceries to snacks branded foods reach you in time.
</p>
<div style="font-style: italic;">
<ul>
  
  <li>
    Slotted Delivery: Pick the most convenient delivery slot to have your grocery delivered.
     From early morning delivery for early birds, to late-night delivery
      for people who work the late shift, bigbasket caters to every schedule.</li>
    <li>Express Delivery: This super useful service can be availed by customers in cities
       like Bangalore, Mumbai, Pune, Chennai, Kolkata, Hyderabad and Delhi-NCR in which we
        deliver your orders to your doorstep in 90 Minutes.</li>
  <li>EGFG Specialty stores: Missed out on buying that 
  essential item from your favorite neighborhood store for tonight’s party? We’ll 
  deliver it for you! From bakery, sweets and meat to flowers and chocolates, 
  we deliver your order in 90 minutes, through a special arrangement with a nearby specialty store, 
  verified by us.</li>


  </ul>
  </div>
  

</div>



       
         

