
<div style="text-align: center;">
    <img src="../../assets/eat.png" style="height: 150px;width: 170px; "/>
</div>
<div class="container" >
<table  style="border: 1px solid gray;border-spacing: 10px;border-collapse: separate;" align="center">
    <tr >
        <td style="font-size: 22px;">Sign-In</td>
 </tr>

    <tr> 
        <td style="font-size: 14px;"><b>Your Email</b> </td>
 </tr>

  <tr >
    <td> <input type="email"   size="50px"></td>
</tr>


<tr>
    <td style="font-size: 14px;"> <b>Password </b></td>
</tr>
<tr >
<td> <input type="password"   size="50px"></td>
</tr>  

<tr >
    <td> <a routerLink="/"> <button type="submit" class="btn btn-success btn-xl" style="background-color: darkgreen;color: white;">Continue</button></a>
    </tr>  
   
    <tr >
        <td style="font-size: 13px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
             By continuing, you agree to EGFG's<br/>
              <a href="#" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Conditions of Use and Privacy Notice.</a>
            </td>
        </tr>  
        <tr>
            <td style="font-size: 13px">
                   <a href="#" >Need Help?</a>
              </td>
        </tr>
        
      
</table>
<hr color="darkgray" />
<a routerLink="/signup" align="center"><button type="submit" class="btn btn-success center btn-sm" style="background-color: whitesmoke">
    Create Your New Account</button></a>
</div>
